# Selecting columns 1: using `[]`
By the end of this lecture you will be able to:
- select a column or columns with `[]` indexing
- select rows and columns with `[]` indexing

In [1]:
import polars as pl

In [2]:
csv_file = "data_titanic.csv"

In [3]:
df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Choosing columns with square brackets

We can choose a column with a string in `[]`

In [4]:
df['Age'].head(3)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

The output is a `Series`.

We can choose a column with a list of strings in `[]` - the output is a `DataFrame`

In [5]:
df[['Survived','Age']].head(3)

shape: (3, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
└──────────┴──────┘

## Choosing rows and columns with `[]`
We can choose rows and columns together with `[]`

In [6]:
df[0,"Age"]

22.0

Python interprets values separate by a comma as a `tuple`

In [7]:
0,"Age"

(0, 'Age')

So underneath the hood this case with two elements is really passing a `tuple` inside `[]`

In [8]:
df[(0,"Age")]

22.0

We can still pass lists for either element inside `[]`

In [9]:
df[[0,1],["Age","Fare"]]

shape: (2, 2)
┌──────┬─────────┐
│ Age  ┆ Fare    │
│ ---  ┆ ---     │
│ f64  ┆ f64     │
╞══════╪═════════╡
│ 22.0 ┆ 7.25    │
│ 38.0 ┆ 71.2833 │
└──────┴─────────┘

The basic rules are:
- if we pass just numeric values we select rows
- if we pass just strings we select columns
- if we pass a tuple like `[numeric,string`] we select rows and columns

### Numeric indexing
We can use numeric indexing for columns when we pass a `tuple`

In [10]:
df[:, 1:6].head(2)

shape: (2, 5)
┌──────────┬────────┬───────────────────────────────────┬────────┬──────┐
│ Survived ┆ Pclass ┆ Name                              ┆ Sex    ┆ Age  │
│ ---      ┆ ---    ┆ ---                               ┆ ---    ┆ ---  │
│ i64      ┆ i64    ┆ str                               ┆ str    ┆ f64  │
╞══════════╪════════╪═══════════════════════════════════╪════════╪══════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris           ┆ male   ┆ 22.0 │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Flor… ┆ female ┆ 38.0 │
└──────────┴────────┴───────────────────────────────────┴────────┴──────┘

### Slice
We can choose columns with a `slice` into the list in `df.columns`

In [11]:
df[:2, "Survived":"Age"]

shape: (2, 5)
┌──────────┬────────┬───────────────────────────────────┬────────┬──────┐
│ Survived ┆ Pclass ┆ Name                              ┆ Sex    ┆ Age  │
│ ---      ┆ ---    ┆ ---                               ┆ ---    ┆ ---  │
│ i64      ┆ i64    ┆ str                               ┆ str    ┆ f64  │
╞══════════╪════════╪═══════════════════════════════════╪════════╪══════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris           ┆ male   ┆ 22.0 │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Flor… ┆ female ┆ 38.0 │
└──────────┴────────┴───────────────────────────────────┴────────┴──────┘

## Creating a column with `[]`?
We can't create a column with `[]`

In [12]:
 df["constant"] = 3

TypeError: DataFrame object does not support `Series` assignment by index

Use `DataFrame.with_columns`.

To create a column we use the `with_columns` method which we will meet later in this section.

# Exercises

In the exercises you will develop your understanding of:
- selecting columns using `[]`
- selecing rows and columns using `[]`

### Exercise 1

Choose the `Name` column as a `Series`

In [14]:
df = pl.read_csv(csv_file)
df['Name'].head(3)

shape: (3,)
Series: 'Name' [str]
[
	"Braund, Mr. Ow…
	"Cumings, Mrs. …
	"Heikkinen, Mis…
]

Choose the `Name` and `Fare` columns

In [15]:
df = pl.read_csv(csv_file)
df[['Name','Fare']].head(3)

shape: (3, 2)
┌───────────────────────────────────┬─────────┐
│ Name                              ┆ Fare    │
│ ---                               ┆ ---     │
│ str                               ┆ f64     │
╞═══════════════════════════════════╪═════════╡
│ Braund, Mr. Owen Harris           ┆ 7.25    │
│ Cumings, Mrs. John Bradley (Flor… ┆ 71.2833 │
│ Heikkinen, Miss. Laina            ┆ 7.925   │
└───────────────────────────────────┴─────────┘

Choose all columns from `Name` to `Fare`

In [21]:
df = pl.read_csv(csv_file)
df[:,'Name':'Fare'].head(3)

shape: (3, 7)
┌───────────────────────────────────┬────────┬──────┬───────┬───────┬──────────────────┬─────────┐
│ Name                              ┆ Sex    ┆ Age  ┆ SibSp ┆ Parch ┆ Ticket           ┆ Fare    │
│ ---                               ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---              ┆ ---     │
│ str                               ┆ str    ┆ f64  ┆ i64   ┆ i64   ┆ str              ┆ f64     │
╞═══════════════════════════════════╪════════╪══════╪═══════╪═══════╪══════════════════╪═════════╡
│ Braund, Mr. Owen Harris           ┆ male   ┆ 22.0 ┆ 1     ┆ 0     ┆ A/5 21171        ┆ 7.25    │
│ Cumings, Mrs. John Bradley (Flor… ┆ female ┆ 38.0 ┆ 1     ┆ 0     ┆ PC 17599         ┆ 71.2833 │
│ Heikkinen, Miss. Laina            ┆ female ┆ 26.0 ┆ 0     ┆ 0     ┆ STON/O2. 3101282 ┆ 7.925   │
└───────────────────────────────────┴────────┴──────┴───────┴───────┴──────────────────┴─────────┘

### Exercise 2
Choose the first 3 rows from the `Name` column as a `Series`

In [17]:
df = pl.read_csv(csv_file)
df[:3, ['Name','Fare']]

shape: (3, 2)
┌───────────────────────────────────┬─────────┐
│ Name                              ┆ Fare    │
│ ---                               ┆ ---     │
│ str                               ┆ f64     │
╞═══════════════════════════════════╪═════════╡
│ Braund, Mr. Owen Harris           ┆ 7.25    │
│ Cumings, Mrs. John Bradley (Flor… ┆ 71.2833 │
│ Heikkinen, Miss. Laina            ┆ 7.925   │
└───────────────────────────────────┴─────────┘

Choose the second and third rows of all columns from `Name` to `Fare`

In [ ]:
df = pl.read_csv(csv_file)
df<blank>

## Solutions

### Solution to Exercise 1
Choose the `Name` column as a `Series`

In [ ]:
df = pl.read_csv(csv_file)
df["Name"].head(3)

Choose the `Name` and `Fare` columns

In [ ]:
df = pl.read_csv(csv_file)
df[["Name","Fare"]].head(3)

### Solution to Exercise 2
Choose the first 3 rows from the `Name` column as a `Series`

In [ ]:
df = pl.read_csv(csv_file)
df[:3,"Name":"Fare"]

Choose the second and third rows of all columns from `Name` to `Fare`

In [18]:
df = pl.read_csv(csv_file)
df[1:3,"Name":"Fare"]

shape: (2, 7)
┌───────────────────────────────────┬────────┬──────┬───────┬───────┬──────────────────┬─────────┐
│ Name                              ┆ Sex    ┆ Age  ┆ SibSp ┆ Parch ┆ Ticket           ┆ Fare    │
│ ---                               ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---              ┆ ---     │
│ str                               ┆ str    ┆ f64  ┆ i64   ┆ i64   ┆ str              ┆ f64     │
╞═══════════════════════════════════╪════════╪══════╪═══════╪═══════╪══════════════════╪═════════╡
│ Cumings, Mrs. John Bradley (Flor… ┆ female ┆ 38.0 ┆ 1     ┆ 0     ┆ PC 17599         ┆ 71.2833 │
│ Heikkinen, Miss. Laina            ┆ female ┆ 26.0 ┆ 0     ┆ 0     ┆ STON/O2. 3101282 ┆ 7.925   │
└───────────────────────────────────┴────────┴──────┴───────┴───────┴──────────────────┴─────────┘